@media screen and (min-width: 700px) {
  // Outer structure

  .container {
    max-width: 1200px;
    padding: 3rem 0;
    margin: 0 auto;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    justify-content: center;
    align-items: center;
  }

  .panel__head {
    flex-basis: 45%;
  }

  .panel__list {
    flex-basis: 45%;
  }

  #arrangeconsultation .container {
    width: 75ch;
    margin: 0 auto;
  }

  // Typography

  .brand {
    text-align: center;
  }

  .brand h1 {
    font-size: 2.5rem;
    line-height: 1.2;
  }

  .brand h2 {
    font-size: 1.5rem;
  }

  .panel__title {
    font-size: 2rem;
    margin-bottom: 1.5em;
  }

  .panel__list {
    list-style: square;
    font-size: 1.5rem;
  }

  .panel__list li {
    border-bottom: none;
  }

  p {
    font-size: 1.25rem;
  }

  footer p {
    font-size: 1rem;
  }

  .btn {
    width: fit-content;
    padding: 0.5em 0.75em;
    border-radius: 25px;
    border: 1px solid darkgray;
    margin: 0 auto;
    background-color: var(--consultation-link-bg-color);
    display: block;
    font-size: 1.2rem;
    text-align: center;
    color: var(--consultation-link-color);
    text-decoration: none;
  }

  .btn:hover {
    opacity: 0.5;
  }

  // Navigation

  #nav-toggle,
  .hamburger {
    display: none;
  }

  .nav {
    visibility: visible;
  }

  .nav__list {
    flex-direction: row;
    justify-content: center;
    align-self: flex-end;
    text-align: center;
    gap: 1rem;
  }

  #header .row {
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 0;
  }

  .nav {
    height: auto;
  }

  .nav__link {
    font-size: 1.25rem;
    font-weight: bold;
    padding-bottom: 3px;
    border-bottom: 4px solid var(--nav-link-border-color);
  }

  .nav__link:hover,
  .nav__link:focus {
    border-bottom: 5px solid var(--nav-link-color);
  }
}
