:root {
  // Fonts

  --default-font: "Roboto", sans-serif;
  --brand-font: "Dancing Script", cursive;
  --title-font: "Halant", serif;
  --list-font: "Roboto", sans-serif;

  // Background colors

  --header-bg-color: #c1e1dc;
  --challenges-bg-color: #ffccac;
  --myservices-bg-color: #ffeb94;
  --whereiwork-bg-color: #fdd475;
  --aboutme-bg-color: #c1e1dc;
  --schoolsiworkedwith-bg-color: #ffccac;
  --arrangeconsultation-bg-color: #ffeb94;
  --form-bg-color: #c1e1dc;
  --footer-bg-color: #c1e1dc;

  // Other colors

  --nav-link-color: #000;
  --nav-link-border-color: var(--consultation-link-bg-color);
  --consultation-link-bg-color: #bbbbbb;
  --consultation-link-color: #000;
}
