<!DOCTYPE html>
<html lang="en">
  {% include 'head.njk' %}
<body>
  <main>
    {% include 'header.njk' %}
    {{ content | safe }}
  </main>
  {% include 'footer.njk' %}
  {% formSuccessConfetti page.fileSlug %}
  <script src="/js/main.js"></script>
</body>
</html>
