<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ title }} | Cynthia Bascara Speech & Language Therapy</title>
  <meta name="description" content="{{ description }}" />
  <meta name="keywords" content="{{ keywords }}" />
  <meta name="google-site-verification" content="bPz0VjlGh2lSDipOX20FvbwuXuL8n-0D8_vJRcnemcA" />
  <meta property="og:title" content="Cynthia Bascara, MS, CCC-SLP, Speech & Language Therapy">
  <meta property="og:type" content="website" />
  <meta property="og:description" content="{{ description }}">
  <meta property="og:image" content="{% if site.env == "prod" %}{{ site.prod_url}}/{{ image }}{% else %}{{site.dev_url}}/{{ image }}{% endif %}">
  <meta property="og:url" content="{% if site.env == "prod" %}{{ site.prod_url}}{% else %}{{site.dev_url}}{% endif %}">
  <meta name="twitter:card" content="summary_large_image">

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&text=Cynthia%20Bascara,%20MS,%20CCC-SLP&display=swap"
    rel="stylesheet"
  />

  <link rel="stylesheet" href="/css/main.css" />
</head>
