<header class="header">
  <div class="row">
    <div class="brand">
      <h1 class="brand__title"><a href="{% if site.env == "production" %}{{ site.prod_url}}{% else %}{{site.dev_url}}{% endif %}" aria-label="Cynthia Bascara Speech & Language Therapy">Cynthia Bascara</a></h1>
      <h2 class="brand__subtitle">MS, CCC-SLP</h2>
      <h2 class="brand__subtitle">Speech & Language Therapy</h2>
    </div>

    <button id="nav-toggle" aria-label="open navigation" type="button"></button>
    <label for="nav-toggle" class="hamburger-label">
      <span class="hamburger"></span>
    </label>

    <nav class="nav">
      <ul class="nav__list">
      {% for link in site.mainNavLinks %}
        <li {% if link.class %} class="{{ link.class }}" {% endif %}>
          <a href="{% if site.env == "prod" %}{{ site.prod_url}}{{ link.url }}{% else %}{{site.dev_url}}{{ link.url }}{% endif %}"
            {% if page.url == link.url %} aria-current="page" class="nav__link current" {% else %}class="nav__link" {% endif %}>{{ link.text }}</a>
        </li>
      {% endfor %}
      </ul>
    </nav>
  </div>
</header>
