@media screen and (min-width: 700px) {
  // Outer structure

  // Header and navigation uses flexbox

  .container {
    max-width: 95%;
    margin: 0 auto;
  }

  // Main content organized in a grid
  // 2-wide in desktop/tablet, single column on mobile
  .panel {
    display: grid;
    grid-template-columns: repeat(2, 49%);
    grid-auto-rows: 1fr;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    border-radius: var(--panel-radius);
    margin-bottom: 1rem;
  }

  .panel__list {
    list-style: square;
    line-height: 1.5;
    margin: 1rem 2rem;
  }

  .panel__list li {
    border-bottom: none;
  }

  .panel__text {
    margin: 0 2rem;
  }

  .panel__image {
    img {
      border-radius: var(--panel-image-radius);
      height: auto;
    }
  }

  .show-desktop {
    display: block;
  }
  .show-mobile {
    display: none;
  }

  #arrangeaconsultation {
    border-radius: var(--panel-radius);
  }

  .nav-below-panel {
    display: flex;
    &.right {
      margin-left: auto;
    }
    &.left {
      margin-right: auto;
    }
    a {
      text-decoration: none;
      font-size: var(--nav-link-size);
      font-weight: var(--nav-link-weight);
      color: var(--brand-color);
      padding: 5px;
      border-bottom: 1px dotted var(--nav-link-color);

      &:hover {
        background-color: var(--nav-link-hover-bg-color);
        color: var(--nav-link-hover-color);
        border-radius: var(--radius-3);
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  // At larger screens, brand and navigation change positions

  // Brand and nav become flex items
  .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }

  // Navigation

  #nav-toggle,
  .hamburger {
    display: none;
  }

  .nav {
    visibility: visible;
    height: auto;
    flex-grow: 1;
  }

  .nav__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: flex-end;
    text-align: center;
    gap: 0.5rem;

    li {
      align-self: center;
    }
  }

  .push-right {
    margin-left: auto;
  }

  .nav__link {
    font-size: var(--nav-link-size);
    font-weight: var(--nav-link-weight);
    padding: 5px;
    color: var(--nav-link-color);
    border-bottom: 1px dotted var(--nav-link-color);
  }

  .nav__link:hover,
  .nav__link:focus,
  .current {
    background-color: var(--nav-link-hover-bg-color);
    color: var(--nav-link-hover-color);
    border-radius: var(--radius-3);
  }
}
