// This site is designed mobile-first. As such, this file, mobile.scss, defines all the base styles. Support other devices, such as tablets, laptops, and desktops, is handled via media queries in the desktop.scss file.

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--body-bg-color);
  font-family: var(--default-font);
  font-size: var(--default-size);
  color: var(--default-color);
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  max-width: 95%;
  margin: 1em auto;
}

.container {
  max-width: 100%;
}

// Brand styles

.brand {
  text-align: center;
}
.brand__title {
  font-family: var(--brand-title-font);
  font-size: var(--brand-title-size);
  padding: 0;
}

.brand__title a {
  text-decoration: none;
  color: var(--brand-color);
}

.brand__title a:hover,
.brand__title a:focus {
  opacity: 0.5;
}

.brand__subtitle {
  font-family: var(--default-font);
  font-size: var(--brand-subtitle-size);
  font-weight: var(--brand-subtitle-weight);
  color: var(--brand-color);
}

// Panel styles

.panel__title {
  font-family: var(--panel-title-font);
  font-size: var(--panel-title-size);
  font-weight: var(--panel-title-weight);
  font-style: italic;
  line-height: 1.3;
  text-align: center;
  padding: 0.5rem;
}

.small {
  font-size: var(--panel-title-small-size);
}

.panel__subtitle {
  font-family: var(--panel-list-font);
  font-size: var(--panel-list-size);
  font-weight: var(--panel-title-weight);
  font-style: italic;
  line-height: 1.3;
  text-align: left;
  padding: 0.5rem 1rem;
}

.panel__list {
  list-style: none;
  font-family: var(--panel-list-font);
  font-size: var(--panel-list-size);
  line-height: 1.75;
  padding: 0 1rem;
}

.panel__list li {
  padding: 0.25em 0;
  border-bottom: 1px dotted darkgray;
}
.panel__list li:last-of-type {
  border-bottom: none;
  padding: 0 0 1em 0;
}

.panel__text {
  font-size: var(--panel-text-size);
  padding: 1rem;
  line-height: 1.5;
}

.insurance {
  font-style: italic;
  font-size: var(--insurance-text-size);
}

.show-desktop {
  display: none;
}
.show-mobile {
  display: block;
}

// Footer styles

footer {
  padding: 1.5em 0;
}

footer p {
  font-family: var(--default-font);
  font-size: var(--default-size);
  text-align: center;
  color: var(--brand-color);
}

// Panel background and text colors

#challenges {
  background-color: var(--challenges-bg-color);
}

#services {
  background-color: var(--services-bg-color);
}

#typicalsession {
  background-color: var(--typicalsession-bg-color);
}
#whereiwork {
  background-color: var(--whereiwork-bg-color);
}

#aboutme {
  background-color: var(--aboutme-bg-color);
}

#schoolsiworkedwith {
  background-color: var(--schoolsiworkedwith-bg-color);
}

#arrangeaconsultation {
  background-color: var(--brand-color);
  border-radius: 0;
}

// Navigation

#nav-toggle {
  position: absolute;
  top: 0.75em;
  right: 1.5em;
  cursor: pointer;
  width: 25px;
  height: 25px;
  background: none;
  border: none;
}

.nav {
  visibility: hidden;
  text-align: center;
  height: 0;
}

.nav__list {
  display: flex;
  flex-direction: column;
  text-align: center;
  list-style: none;
  padding: 0;
}

.nav__list li {
  padding: 1.25em 0;
}

.nav__link {
  font-family: var(--nav-link-font);
  font-size: var(--nav-link-size);
  font-weight: var(--nav-link-weight);
  text-decoration: none;
  color: var(--nav-link-color);
  margin: 0.5em 0;
}

.nav--visible {
  visibility: visible;
  height: auto;
  position: relative;
}

.hamburger {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  background: var(--brand-color);
  height: 3px;
  width: 25px;
}

.hamburger::before,
.hamburger::after {
  content: "";
  width: 100%;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.nav-below-panel {
  display: none;
}
