:root {
  // Defaults

  --body-bg-color: var(--orange-0);

  --default-font: var(--font-sans);
  --default-size: var(--font-size-2);
  --default-color: var(--body-bg-color);

  // Font sizes at various breakpoints

  @media screen and (max-width: 699px) {
    --brand-title-size: var(--font-size-5);
    --brand-subtitle-size: var(--font-size-2);
    --nav-link-size: var(--font-size-2);
    --panel-title-size: var(--font-size-3);
    --panel-list-size: var(--font-size-1);
    --panel-text-size: var(--font-size-1);
  }

  @media screen and (min-width: 700px) {
    --brand-title-size: var(--font-size-6);
    --brand-subtitle-size: var(--font-size-2);
    --nav-link-size: var(--font-size-2);
    --panel-title-size: var(--font-size-5);
    --panel-list-size: var(--font-size-3);
    --panel-text-size: var(--font-size-3);
  }

  // Brand styles

  --brand-color: var(--orange-9);
  --brand-title-font: "Dancing Script", cursive;
  --brand-subtitle-weight: var(--font-weight-6);

  // Navigation styles

  --nav-link-weight: var(--font-weight-6);
  --nav-link-color: var(--brand-color);
  --nav-link-hover-bg-color: var(--brand-color);
  --nav-link-hover-color: var(--default-color);

  // Panel styles

  --panel-radius: var(--radius-3);
  --panel-image-radius: var(--radius-3);
  --panel-title-font: var(--font-serif);
  --panel-title-weight: var(--font-weight-4);
  --panel-list-font: var(--font-sans);
  --panel-text-font: var(--font-sans);

  // Panel background colors
  // Selected to match element of related image
  // Linked to id of each panel

  --challenges-bg-color: #be5409;
  --services-bg-color: #3d4e83;
  --typicalsession-bg-color: #621b05;
  --whereiwork-bg-color: #e9948f;
  --aboutme-bg-color: #824022;
  --schoolsiworkedwith-bg-color: #88725b;

  --arrangeconsultation-bg-color: var(--brand-color);
  --form-bg-color: var(--body-bg-color);

  // Form styles

  --contact-form-radius: var(--radius-3);
  --contact-button-radius: var(--radius-3);
}
