---
title: About Me
description: Cynthia Bascara is a speech and language therapist with more than 25 years of experience, working with students from toddlers to teens. She serves students throughout Marin County.
keywords: Cynthia Bascara, Speech and Language Therapist, Marin County
---

<div class="container">
  <div class="panel" id="aboutme">
    <div class="panel__image">
      {% image "src/img/aboutme.jpg", "Cynthia having fun with a student",
      "100vw" %}
    </div>
    <div class="panel__info">
      <h3 class="panel__title">About Me</h3>
      <ul class="panel__list">
        <li>
          25+ years as a speech / language pathologist in school and clinic
          settings throughout the Bay Area
        </li>
        <li>BS Communication Disorders, San Francisco State University</li>
        <li>MS Communicaiton Disorders, Arizona State University</li>
        <li>ASHA Certified</li>
        <li>CA State Licensed</li>
        <li>Clinical Rehabilitative Credential</li>
      </ul>
      <h3 class="panel__title">
        Cynthia has worked with students attending the following schools:
      </h3>
      <ul class="panel__list">
        <li>Marin Country Day School</li>
        <li>Mark Day School</li>
        <li>Montessori de Terra Linda</li>
        <li>Educare Preschool</li>
        <li>Golden Poppy Preschool</li>
        <li>And more...</li>
      </ul>
    </div>
  </div>
  <div class="nav-below-panel">
    <a href="/whereiwork" class="nav-below-panel left">Where Cynthia Works</a>
    <a href="/arrangeaconsultation" class="nav-below-panel right">Arrange a Consultation</a>
  </div>

</div>
