---
title: Thank you!
description: Cynthia Bascara is a speech and language therapist with more than 25 years of experience, working with students from toddlers to teens. She serves students throughout Marin County.
keywords: Cynthia Bascara, Speech and Language Therapist, Marin County
---

<div class="container">
  <div class="panel" id="formsuccess">
    <h3 class="panel__title">
    Thank you for your inquiry. I will be in touch with you shortly.
    </h3>
  </div>
</div>
