---
title: Services
description: Cynthia Bascara is a speech and language therapist with more than 25 years of experience. Cynthia will peroform an assessment of your child's speech and language needs, creating an individualized program specifically designed to address your child's needs.
keywords: Cynthia Bascara, Speech and Language Therapist, Marin County
---

<div class="container">
  <div class="panel" id="services">
    <div class="panel__image show-mobile">
      {% image "src/img/services.jpg", "A happy student holding a pencil",
      "100vw" %}
    </div>
    <div class="panel__info">
      <h3 class="panel__title">Services</h3>
      <ul class="panel__list">
        <li>An assessment of your child's speech and language needs</li>
        <li>
          Create an individualized program specifically designed to address your
          child's needs
        </li>
        <li>Regular communication of your child's progress</li>
      </ul>
      <p class=" panel__text insurance">Cynthia Bascara is an out-of-network provider and does NOT accept nor bill insurance. Upon request, a coded superbill will be provided to you (the insurance subscriber). You may submit this superbill to your insurance for reimbursement.</p>

      <p class="panel__text insurance">Payment in the form of a check, credit card, or bank transfer is accepted.<p>
    </div>
    <div class="panel__image show-desktop">
      {% image "src/img/services.jpg", "A happy student holding a pencil",
      "100vw" %}
    </div>
  </div>
  <div class="nav-below-panel">
    <a href="/" class="nav-below-panel left">Home</a>
    <a href="/typicalsession" class="nav-below-panel right">Therapy Looks Like...</a>
  </div>
</div>
