---
title: Therapy looks like...
description: Cynthia Bascara is a speech and language therapist with more than 25 years of experience. Therapy will look somewhat different across the ages, but I strive to make therapy engaging and fun (almost as if we weren't doing "therapy" at all!).
keywords: Cynthia Bascara, Speech and Language Therapist, Marin County
image: typicalsession-1400w.jpeg

---

<div class="container">
  <div class="panel" id="typicalsession">
    <div class="panel__image">
      {% image "src/img/typicalsession.jpg", "A young boy reading", "100vw" %}
    </div>
    <div class="panel__info">
      <h3 class="panel__title">What does a therapy session look like?</h3>
      <p class="panel__text">
        Therapy will look somewhat different across the ages, but sessions are always child centered and therefore fluid. Cynthia strives to make therapy engaging and fun (almost as if we weren't doing "therapy" at all!). Sessions may take place on the floor, or a table; we may start inside then move outside. I will bring therapy materials (e.g., toys, games, online websites, applications), but your child will also likely have school work (e.g., vocabulary, science project) and their own toys to share.
      </p>
      <p class="panel__text">
        A brief wrap-up typically concludes a session, with suggestions for homework.
      </p>
    </div>
  </div>
  <div class="nav-below-panel">
    <a href="/services" class="nav-below-panel left">Services</a>
    <a href="/whereiwork" class="nav-below-panel right">Where Cynthia Works</a>
  </div>
</div>
