---
layout: default
title: Where I Work
description: Cynthia Bascara is a speech and language therapist with more than 25 years of experience. Therapy is provided in locations that support your child's comfort level and your schedule.
keywords: Cynthia Bascara, Speech and Language Therapist, Marin County
image: whereiwork-1400w.jpeg
---

<div class="container">
  <div class="panel" id="whereiwork">
    <div class="panel__image show-mobile">
      {% image "src/img/whereiwork.jpg", "A young girl reading", "100vw" %}
    </div>
    <div class="panel__info">
      <h3 class="panel__title">
        Therapy is provided in locations that support your child's comfort level
        and your schedule
      </h3>
      <ul class="panel__list">
        <li>Throughout Marin County</li>
        <li>At your child's school</li>
        <li>At your home</li>
        <li>At a local park, a coffee shop, or even at the mall</li>
        <li>Remotely via Zoom</li>
      </ul>
      <h4 class="panel__title small">
        Cynthia has worked with students attending the following schools:
      </h4>
      <ul class="panel__list">
        <li>Marin Country Day School</li>
        <li>Mark Day School</li>
        <li>Montessori de Terra Linda</li>
        <li>Educare Preschool</li>
        <li>Golden Poppy Preschool</li>
        <li>And more...</li>
      </ul>
    </div>
    <div class="panel__image show-desktop">
      {% image "src/img/whereiwork.jpg", "A young girl reading", "100vw" %}
    </div>
  </div>
  <div class="nav-below-panel">
    <a href="/typicalsession" class="nav-below-panel left">A Typical Session</a>
    <a href="/aboutme" class="nav-below-panel right">About Me</a>
  </div>
</div>
