---
layout: default
title: WHere I Work
description: Cynthia Bascara is a speech and language therapist with more than 25 years of experience. Therapy is provided in locations that support your child's comfort level and your schedule.
keywords: Cynthia Bascara, Speech and Language Therapist, Marin County
---

<div class="container">
  <div class="panel" id="whereiwork">
    <div class="panel__image show-mobile">
      {% image "src/img/whereiwork.jpg", "A young girl reading", "100vw" %}
    </div>
    <div class="panel__info">
      <h3 class="panel__title">
        Therapy is provided in locations that support your child's comfort level
        and your schedule
      </h3>
      <ul class="panel__list">
        <li>Throughout Marin County</li>
        <li>At your child's school</li>
        <li>At your home</li>
        <li>Remotely via Zoom</li>
      </ul>
    </div>
    <div class="panel__image show-desktop">
      {% image "src/img/whereiwork.jpg", "A young girl reading", "100vw" %}
    </div>
  </div>
  <div class="nav-below-panel">
    <a href="/typicalsession" class="nav-below-panel left">Therapy Looks Like...</a>
    <a href="/aboutme" class="nav-below-panel right">About Me</a>
  </div>
</div>
