---
layout: default
title: Home
description: Cynthia Bascara is a speech and language therapist with more than 25 years of experience, working with students from toddlers to teens. She serves students throughout Marin County.
keywords: Cynthia Bascara, Speech and Language Therapist, Marin County
permalink: "/"
---

<div class="container">
  <div class="panel" id="challenges">
    <div class="panel__image">
      {% image "src/img/challenges.jpg", "A little girl reading Dr. Seuss",
      "100vw" %}
    </div>
    <div class="panel__info">
      <h3 class="panel__title">
        Your child may need speech / language therapy if they experience
        difficulties in any of the following:
      </h3>
      <ul class="panel__list">
        <li>Expressive Language / Oral Expression</li>
        <li>Accurately producing speech sounds</li>
        <li>Finding the right words to express themselves</li>
        <li>Expressing thoughts in an organized manner</li>
        <li>Effectively communicating with you or their peers</li>
        <li>Receptive Language / Listening Comprehension</li>
        <li>Following directions</li>
        <li>Understanding verbal or written language</li>
        <li>Responding with off topic responses</li>
      </ul>
    </div>
  </div>
</div>
