---
layout: default
title: Services | Cynthia Bascara Speech Therapy
description: Cynthia Bascara is a speech and language therapist with more than 25 years of experience, working with students from toddlers to teens. She serves students throughout Marin County.
keywords: Cynthia Bascara, Speech and Language Therapist, Marin County
permalink: "/services/"
---

<div class="container">
  <div class="panel" id="services">
    <div class="panel__image show-mobile">
      {% image "src/img/services.jpg", "A happy student holding a pencil",
      "100vw" %}
    </div>
    <div class="panel__info">
      <h3 class="panel__title">Services</h3>
      <ul class="panel__list">
        <li>
          A free phone consultation to determine if I'm the right fit for your
          child
        </li>
        <li>An assessment of your child's speech and language needs</li>
        <li>
          Create an individualized program specifically designed to address your
          child's needs
        </li>
        <li>Regular communication of your child's progress</li>
      </ul>
    </div>
    <div class="panel__image show-desktop">
      {% image "src/img/services.jpg", "A happy student holding a pencil",
      "100vw" %}
    </div>
  </div>
</div>
